<div id="side-bar" class="absolute flex flex-col space-y-4 px-4 h-screen w-52 bg-indigo-600 transition transform duration-200 ease-in-out" [ngClass]="{'-translate-x-full': !onSideBar}">

</div>
<div class="w-full flex flex-col">
    <div class="w-full h-14 shadow bg-indigo-600 px-4 flex flex-row items-center">

        <!-- Navigation Button -->
        <button class="flex justify-center items-center p-2 rounded-full transform transition duration-100 ease-in-out group hover:bg-white active:scale-75 " (click)="toggleSideBar(!onSideBar)">
            <mat-icon class="text-white group-hover:text-indigo-600 transform transition duration-100 ease-in-out group-active:scale-125">menu</mat-icon>
        </button>
    </div>
    <router-outlet></router-outlet>
</div>